body{
	background-color: gray;
}
.hyruleBody{
	background-image: url("photo/hyruleback.webp");
	background-size: cover;
}

.tete{
	text-align: center;
	border: solid grey 1px;
	background-color: ghostwhite;
	border-radius: 100px;
	width: 13%;
	margin: 0px 44% 15px;


}
.choix{
	background-color: lightgrey;
	border: solid black 3px;
	border-radius: 10px;
	width: 70%;
	height: 350px;
	margin: 0px 15% 50px;
}
.choix h2 {
	text-align: center;
}

.moi{
	background-color: lightgrey;
	border: solid black 3px;
	border-radius: 10px;
	width: 70%;
	margin: 5px 15% 0px;
	text-align: center;
}

.hyr{
	border: solid black 1px;
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 0px 10% 0px;
	background-image: url("photo/link.avif");
	background-size: 100% 370%;
	color: white;
}

.hyr a:visited{
	color: white;
}
.hyr a:link{
	color: white;
}

.cli{
	border: solid black 1px;
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 2% 10% 2%;
	background-image: url("photo/uwu.webp");
	background-size: cover;
	color: white;
}

.cli a:visited{
	color: white;
}
.cli a:link{
	color: white;
}
.gob{
	border: solid black 1px;
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 0px 10% 2%;
	background-image: url("photo/mine.PNG");
	background-size: cover;
	color: white;
}

.gob a:visited{
	color: white;
}
.gob a:link{
	color: white;
}

.pres{
	width: 80%;
	height: 500px;
	margin: 5% 10% 0px;


}


.texthyr{
	border: solid black 2px;
	width: 40%;
	margin: 3% 5% 10%;
	text-align: center;
	float: left;
	background-image: url("photo/sword.jpg");
	background-size: cover;
	font-family: fantasy;
	font-size: large;
}

.ima{
	float: left;
	margin: 10% 0px 0px;
}
.ima img{

	width: 40%;
	height: 40%;
}

.textcli{
	border: solid black 2px;
	width: 30%;
	margin: 0px 8% 10%;
	text-align: center;
	float: left;
	font-size: large;
	font-family: sans-serif;
	background-color: whitesmoke;

}

.imacli{
	margin: 5% 0px 0px;
}
.imacli img{
	width: 40%;
	height: 40%;
	border: solid black 2px;
}

.cliBody{
	background-image: url("photo/fonduwu.jpg");
	background-size: cover;
}

.gobBody{
	background-image: url("photo/fondGrotte.jpg");
	background-size: cover;
}

.textgob{
	border: solid black 2px;
	width: 30%;
	margin: 0px 8% 10%;
	text-align: center;
	float: left;
	font-size: large;
	font-family: sans-serif;
	background-color: whitesmoke;
}

.imagob img {
	width: 25%;
	height: 25%;
}

.run{
	border: solid black 1px;
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 0px 10% 2%;
	background-image: url("photo/fondrunner.webp");
	background-size: 100% 370%;
	color: white;
}

.run a:visited{
	color: white;
}

.run a:link {
	color: white;
}

.RunnerBody {
	background-image: url("photo/runnerBack.jpg");
	background-size: cover;
}

.textrun {
	border: solid black 2px;
	width: 40%;
	margin: 0% 7% 10%;
	text-align: center;
	float: left;
	background-color: white;
	background-image: url("photo/runtextimg.jpg");
	color: white;
}



.imarun img{
	width: 30%;
	height: 30%;
}

.pok {
	border: solid black 1px;
	border-radius: 5px;
	width: 80%;
	height: 30px;
	margin: 0px 10% 2%;
	background-image: url("photo/pokefond.jpg");
	background-size: cover;
	color: white;
}

.pok a:visited{
	color: white;
}

.pok a:link {
	color: white;
}

.pokeBody {
	background-image: url("photo/pokeback.jpg");
	background-size: cover;
}

.textpok {
	border: solid black 2px;
	width: 40%;
	margin: 4% 7% 10%;
	text-align: center;
	float: left;
	background-image: url("photo/poktextimg.jpg");
	background-size: cover;
	font-size: large;
}


.imapok img {
	width: 14%;
	height: 14%;
}
